@import '../variables.scss';

.activeRoomTitle {
  text-align: center;
  color : #fff;
  user-select: none;
  margin-top: 12px;
}

.activeRoomUsers {
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: white;
  margin: 1rem 8px;
  & .cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    user-select: none;

    & > .card {
      background-color: $primary-secondary-background;
      max-width: 63.5mm;
      min-width: 63.5mm;
      min-height: 88.9mm;
      max-height: 88.9mm;
      width: 63.5mm;
      height: 88.9mm;
      border-radius: 14px;
      padding: 0 8px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

      & .topValue {
        text-align: left;
        padding: 8px 0;
      }

      & .bottomValue {
        text-align: left;
        padding: 8px 0;
        transform: rotate(-180deg);
      }

      & > h1 {
        text-align: center;
        font-size: 46px;
        color: $primary-text;
        border: 1px solid $hovered;
        padding-top: 100px;
        padding-bottom: 100px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        margin-left: 16px;
        margin-right: 16px;
        max-height: 420px;
      }
    }
  }

  & .usersContainer {
    background-color: $primary-secondary-background;
    color: white;
    border-radius: 0.5rem;
    min-height: 80vh;
    width: 40%;
    height: 100%;

    & > p {
      font-size: 1.3rem;
      border-bottom: 1px solid $hovered;
      padding: 1rem;
      margin: 0;
    }

    & .connectedUsers {
      padding-left: 16px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;

      & svg {
        color: $hovered;
      }
    }

    & .inviteMate {
      padding: 0 16px;
      border-top: 1px solid $hovered;

      & > p {
        padding: 0;
        font-size: 1.3rem;
        font-weight: 500;
        margin: 12px 0;
      }

      & > input[type="text"] {
        width: -webkit-fill-available;
        height: 38px;
        border: none;
        border-radius: 12px;
        background-image: none;
        background-color: #1C1C1C;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        color: #F1F1F5;
        padding-left: 16px;
        border-bottom: $hovered 2px solid;

        &:hover {
          cursor: text;
        }
      }
    }
  }
}
.storiesContainer{
  color: white;
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: $primary-secondary-background;
  border-radius: 12px;
  margin: 12px;
  max-height: 500px;


  & .storiesContainerHeader{
    display: flex;
    justify-content: space-between;
    margin: 0 12px;
    border-bottom: $hovered 1px solid;

    & .titleContainer{
      display : flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;

      &>p {
        cursor: pointer;
      }
    }

    & .buttonContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      cursor: pointer;
    }
  }
  & .storiesContainerBody{
    margin : 0 12px;
    overflow-y: auto;
    & table{
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      & tr {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & td{
          text-align: left;
          padding: 8px 2px;
          margin-right: 8px;
        }
      }
    }
  }
  .storiesContainerBody::-webkit-scrollbar {
    width: 5px;
  }
  .storiesContainerBody::-webkit-scrollbar-thumb {
    background-color: $secondary-background; /* color of the scroll thumb */
    border-radius: 3px; /* roundness of the scroll thumb */
  }
}
