$primary-background: var(--primary-background);
$primary-secondary-background: var(--primary-secondary-background);
$hovered: var(--hovered);
$secondary-background: var(--secondary-background);
$primary-text: var(--primary-text);
$secondary-text: var(--secondary-text);